* {
  margin: 0px;
  padding: 0px;
}
#container {
  height: 100%;
  width: 100%;
  font-size: 0;
  background-color: gray;
}
#leftsidebar,
#center,
#rightsidebar {
  font-size: 12px;
}
#center {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  width: 75%;
}
/*LEFT SIDEBAR*/

#leftsidebar {
  float: left;
  width: 10%;
  height: 100%;
  background: #151719;
  cursor: pointer;
}

#leftsidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
}

.leftimg {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

/*RIGHT SIDEBAR*/

#rightsidebar {
  float: right;
  width: 15%;
  height: 100%;
  background: #151719;
  cursor: pointer;
}

#rightsidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
}

.rightimg {
  display: block;
  margin: 5 auto;
  height: 50px;
  width: 50px;
  filter: invert(100%);
}

.minus {
  display: block;
  margin: 5 auto;
  height: 50px;
  width: 50px;
  filter: invert(100%);
}

.plus {
  padding-left: 10%;
  display: block;
  margin: 5 auto;
  height: 50px;
  width: 50px;
  filter: invert(100%);
}

.column {
  float: left;
  width: 35%;
  padding: 10px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.empty {
  display: block;
  margin: 5 auto;
  height: 50px;
  width: 50px;
  filter: invert(100%);
}

.fill {
  display: block;
  margin: 5 auto;
  height: 50px;
  width: 50px;
  color: white;
  filter: invert(100%);
}

.export {
  display: block;
  margin: 5 auto;
  height: 50px;
  width: 55px;
  filter: invert(100%);
}
/*CANVAS*/
canvas {
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 110px;
  margin-right: 100px;
  width: 800px;
  height: 500px;
  border: 3px solid black;
  background-color: white;
  cursor: crosshair;
}
